<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommend.railway.mapper.FoodMapper">

    <resultMap type="com.example.recommend.railway.entity.Food" id="FoodMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="VARCHAR"/>
        <result property="sales" column="sales" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="VARCHAR"/>
        <result property="spicy" column="spicy" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into food_recommend.food(name, description, price, sales, score, spicy)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.description}, #{entity.price}, #{entity.sales}, #{entity.score}, #{entity.spicy})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into food_recommend.food(name, description, price, sales, score, spicy)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.description}, #{entity.price}, #{entity.sales}, #{entity.score}, #{entity.spicy})
        </foreach>
        on duplicate key update
         name = values(name) , description = values(description) , price = values(price) , sales = values(sales) , score = values(score) , spicy = values(spicy)     </insert>

</mapper>

