<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommend.railway.mapper.OrderMapper">

    <resultMap type="com.example.recommend.railway.entity.Order" id="OrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="totalPrice" column="total_price" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into food_recommend.order(user_id, total_price, create_time, status)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.userId}, #{entity.totalPrice}, #{entity.createTime}, #{entity.status})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into food_recommend.order(user_id, total_price, create_time, status)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.totalPrice}, #{entity.createTime}, #{entity.status})
        </foreach>
        on duplicate key update
         user_id = values(user_id) , total_price = values(total_price) , create_time = values(create_time) , status = values(status)     </insert>

</mapper>

