<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recommend.railway.mapper.StationMapper">

    <resultMap type="com.example.recommend.railway.entity.Station" id="StationMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into food_recommend.station(name, description)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.description})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into food_recommend.station(name, description)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.description})
        </foreach>
        on duplicate key update
         name = values(name) , description = values(description)     </insert>

</mapper>

